<!DOCTYPE html>
<html class="has-navbar-fixed-top">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <link href="../css/style.css" rel="stylesheet" type="text/css" />

	<title>Vineeth Voruganti</title>
    </head>
    <body>
        <nav>
            <p>Vineeth Voruganti</p>
            <div id="nav-links">
                <a href="about.html">about</a>
                <a href="blog.html">blog</a>
            </div>
        </nav>
        <!-- Should be the main blog page -->
        <div id="main">
            <h1>My Thoughts on Different Things</h1>
            <div class="post">
                <div class="post-left">
                    <h2>Blog Title</h2>
                </div>
                <div class="post-right">
                    <div class="tags">
                        <p>Game</p>
                        <p>Web</p>
                        <p>Lua</p>
                    </div>
                    <p class="date">3/25/2020</p>
                </div> 
            </div>
            <div class="post"></div>
            <div class="post"></div>
        </div>
    </body>	
</html>
