#contact-card {
    display:flex;
    flex-direction:row;
    justify-self:flex-start;
    align-items:center;
}

#contact-card > img {
    width: 30%;
    height:auto;
}

#contact-card > ul {
    list-style-type:none;
    font-size:1.2em;
}

#contact-card > ul > li {
    margin-top:5px;
}

#contact-card a {
    text-decoration:none;
}

#contact-card > ul > li:hover {
    cursor:pointer;
    color:blue;
}


