.main {
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

.contactCard {
    display:flex;
    flex-direction:row;
    justify-self:flex-start;
    align-items:center;
}

.contactCard > img {
    width: 30%;
    height:auto;
}

.contactCard > ul {
    list-style-type:none;
    font-size:1.2em;
}

.contactCard > ul > li {
    margin-top:5px;
}

.contactCard a {
    text-decoration:none;
}

.contactCard > ul > li:hover {
    cursor:pointer;
    color:blue;
}

@media only screen and (min-width:1024px) {
    .main {
        font-size:120%;
    }
}
