.post {
    display:flex;
    flex-direction:row;
    align-items:center;
    width:100%;
    padding:4px 4px 4px 0px;
}

.post:hover {
    cursor:pointer;
    transition:0.2s;
    background-color:#EEEEEE;
}

.post p {
    margin-top:0px;
    margin-bottom:0px;
    line-height:1.5em;
}

.leftPost {
    width: 50%;
}

.rightPost {
    display:flex;
    width: 50%;
    flex-direction: row;
    justify-content:flex-end;
}

.postDate {
    color: #888888;
    width: 21%;
    text-align:right;
}



