.post {
    display:flex;
    flex-direction:row;
    width:100%;
}

.post p {
    margin-top:0px;
    margin-bottom:0px;
    line-height:1.5em;
}

.leftPost {
    width: 70%;
}

.rightPost {
    display:flex;
    width: 30%;
    flex-direction: row;
    justify-content:flex-end;
}

.tags {
    width: 75%;
    display: flex;
    align-items:flex-end;
    flex-direction: row;
    justify-content:flex-end;
    margin-right:5px;
}

.postDate {
    color: #888888;
    width: 25%;
    text-align:right;
}

.tag {
    font-size:80%;
    margin-left:10px;
    padding-right:5px;
    padding-left:5px;
    text-align:center;
/*    background-color:lightgreen; */
    border-radius:5px;
    height:80%;
}

.tag:hover {
    cursor:pointer;
}

