.nav {
    height:50px;
    display:flex;
    flex-direction:row;
    align-items:flex-end;
    justify-content: center;
    font-size:1.2em;
    width: 650px;
    margin:auto;
    text-align:center;
}

.nav > a {
    padding-left: 10px;
    padding-right:10px;
}
