.tag {
    font-size:80%;
    margin-left:10px;
    padding-right:5px;
    padding-left:5px;
    text-align:center;
    border-radius:5px;
    height:80%;
}

.tags {
    display: flex;
    align-items:center;
    flex-direction: row;
    margin-right:5px;
}
